body {
    background: url(https://wallpapertag.com/wallpaper/full/3/5/8/59410-gorgerous-pixel-art-wallpaper-1920x1080.jpg);
    font-family: 'Yatra One', cursive;
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

input[type=color]:hover {
    cursor: pointer;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    background-color: white;
    border-collapse: collapse;
    margin: 0 auto;

}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

input[type=submit]:hover {
    background-color: magenta;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Rakkas', cursive;
    font-size: 15px;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}

button:hover {
    background-color: magenta;
    border: 5px 5px solid;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Rakkas', cursive;
    font-size: 15px;

}